@page "/ViewSinglePost/{PostId:int}"
@* in the page directive above, I specify the url should contain the post id, like this: localhost:7001/ViewSinglePost/42 and we should then load post with id 42 *@
@inject IPostService PostService
@inject NavigationManager NavigationMgr
@rendermode InteractiveServer

@if (postDto is not null)
{
    <div>
        <h3>@postDto.Title</h3>
        <h6>Author: @author?.UserName</h6>
        <p>@postDto.Body</p>
    </div>
    <br>
    <div>
        <h4>Comments: </h4>
        @foreach (var comment in comments)
        {
            <div>
                <p>UserId: @comment.UserId: @comment.Body</p>
            </div>
        }
    </div>
    <br>
        <div>
            <label>UserId: </label>
            <input type="text" @bind="userId"/>
            <label>Enter your comment: </label>
            <input type="text" @bind="newComment"/>
            <button @onclick="AddComment">Add comment</button>
        </div>
}
else
{
    <p>Loading...</p>
}
@if (!string.IsNullOrEmpty(message))
{
    <label>@message</label>
}

@code{
    [Parameter] public int PostId { get; set; }

    private PostDto? postDto;
    private List<CommentDto> comments = [];
        private List<CommentOnlyDto> allComments = new();
    private UserDto? author;
    private string message = string.Empty;
    private string newComment = string.Empty;
    private int? userId = null!;
    
    protected override async Task OnInitializedAsync()
    {
       try
        {
            postDto = await PostService.GetSinglePost(PostId);
            comments = await PostService.GetCommentsForPost(PostId);
            author = await PostService.GetAuthorOfPost(PostId);
            // Here I do 3 separate requests to the Web API (through the service class)
            // This is because I made a clear separation between the entities, and have some general purpose DTOs
            // An alternative approach is make more specific DTOs, e.g. SinglePostDto, which would also contain comments and author.
            // That's a design choice, it's up to you.
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            message = e.Message;
        }
    }

    
    private async Task AddComment()
    {
        message = string.Empty;
        CreateCommentDto createCommentDto = new()
        {
            PostId = PostId,
            Body = newComment,
            UserId = (int)userId! // I can safely suppress the null warning and cast from int? to int because this method is called from a button, which is only shown, when the user is logged in.
        };
        try
        {
            CommentDto createdComment = await PostService.AddComment(createCommentDto);
            newComment = string.Empty;
            comments.Add(createdComment);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            message = e.Message;
        }
    }

}